html, body {
    height: 100%;
}

body {
    width: 100%;
    color: #bfc8cc;
    background-color: #edf1f2;
}

.ml-10 {
    margin-left: 10px;
}

table th, table td {
    padding: 5px;
}
.container {
    height: 100%;
    width: 80%;
    margin: 20px auto;
}

.panel {
    margin: 20px auto;
    border-radius: 4px;
    background: #fff;
    color: #687a84;
}
.panel-heading, .panel-body, .panel-footer {
    padding: 15px;
}
.panel-heading {
    color: #fff;
    background-color: #3bc0c3;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.panel-body {
    color: #000;
}
.panel-lang .panel-body label {
    height: 30px;
    line-height: 1;
    display: inline-block;
    padding: 0.7rem 0;
}
.panel-lang .panel-body input, .panel-lang .panel-footer button {
    height: 30px;
    line-height: 30px;
}

/* Search Form */
.search-form {
    display: table;
    height: 100%;
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

.search-form .content {
    display: table-cell;
    vertical-align: middle;
}

/* Super Mode */
.super-mode {
    height: 100%;
}

.super-mode .super-mode-show, .super-mode .super-mode-show-inline, .super-mode.active .super-mode-hide {
    display: none;
}
.super-mode.active .super-mode-show {
    display: block;
}
.super-mode.active .super-mode-show-inline {
    display: inline-block;
}
