<section class="panel panel-lang" ng-repeat="section in sections">
    <form ng-submit="saveSection()" ng-controller="sectionCtrl">
        <div class="panel-heading">
            <span>{{section.section}}</span>
            <a href="javascript:;">+</a>
        </div>
        <div class="panel-body">
            <table class="table-responsive">
                <thead>
                    <tr>
                        <th class="width-6">
                            Source
                        </th>
                        <th class="width-6">
                            {{langs[section.to_lang]}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in section.items">
                        <td>
                            <label for="section_cn_{{item.source}}">{{item.source}}</label>
                        </td>
                        <td>
                            <input id="section_cn_{{item.source}}" type="text" title="{{item.source}}" ng-model="item.tolang">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-footer text-right">
            <button type="primary">SAVE</button>
            <button ng-click="resetFromData()">RESET</button>
        </div>
    </form>
</section>
